<header>

    <ul id="head-home">
        <% if(locals.user) {%>
            <li class="link"> 
                <a href="/users/profile" id="head"><%= user.name%></a>
            </li>
            <li class="link">
                <a href="/users/sign-out">Sign Out</a>
            </li>            
        <% }else{ %>
            <li class="link">
                <a href="/users/signin">Sign In</a>
            </li>
            <li class="link">
                <a href="/users/signup">Sign Up</a>
            </li>
        <% } %>    
    </ul>
</header>