<link rel="stylesheet" href="/css/signin.css">
<form action="/users/create-session" method="post" class="container">
    <input type="email" placeholder="Email" name="name" required>
    <input type="password" placeholder="Password" name="password" required>
    <button>Sign in</button>
</form>